@import url('./global.css');

.btn {
    padding: 15px 15px;
    background-color: var(--baalu-black);
    color: #fff;
    display: inline-flex;
    text-decoration: none;
}

.btn.secondary {
    background-color: #fff;
    color: var(--baalu-black);
    padding: 12px 25px;
    font-size: 0.8em;
}

header {
    padding: 20px;
    justify-content: space-between;

    & nav a {
        padding: 9px 20px;
        font-size: 0.875em;
    }

    & .nav-bar a:not(:last-of-type) {
        text-transform: uppercase;
        text-decoration: none;
        opacity: 0.6;
        letter-spacing: 1px;
        line-height: 20px;
        transition: opacity 300ms;
    }

    & .nav-bar a:not(:last-of-type):hover {
        opacity: 0.9;
    }

    & .nav-bar a:last-of-type {
        transition: background-color 300ms, color 300ms;
    }

    & .nav-bar a:last-of-type:hover {
        background-color: transparent;
        border: 1px solid var(--baalu-black);
        color: var(--baalu-black);
    }
}

/* polyfill for old browser versions */
header nav a {
    padding: 9px 20px;
}

header .nav-bar a:not(:last-of-type) {
    text-transform: uppercase;
    text-decoration: none;
}
/* polyfill end */


.heros {
    height: 90svh;
    color: #f4f4f4;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('../img/heros-bg.webp');
    background-size: cover;
    background-position: center center;
    padding-top: 10svh;

    & .wrapper {
        width: 75%;
        display: flow-root;
        margin-inline: auto;
        text-align: center;
    }

    & h1 {
        font-size: calc(1em * 1.618 *2);
        margin: 1rem 1.5rem;
    }

    & p {
        line-height: 2em;
        margin-bottom: 15px;
    }

    & .btn {
        text-transform: uppercase;
        line-height: 20px;
        letter-spacing: 2px;
    }
}

/* polyfill for old browser versions */
.heros .wrapper {
    width: 75%;
    display: flow-root;
    margin-inline: auto;
    text-align: center;
}

.heros h1 {
    font-size: calc(1em * 1.618 *2);
    margin: 1rem 1.5rem;
}

.heros .btn {
    text-transform: uppercase;
}

/* polyfill end */


.section-descriptor {
    max-width: fit-content;
    font-size: calc(1em / 1.618 * 1.2);
    border-radius: 1rem;
    padding: 0.75em 2.25em;
    background-color: #3e3e47;
    color: #fff;
    text-transform: uppercase;
    margin-inline: auto;
}

.container hgroup {
    width: 80%;
    margin-inline: auto;
    margin-block: 2.5vh 20px;
    text-align: center;

    & h2 {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 1.618em;
    }
}

.services-container .btn {
    display: block;
    margin-top: 3em;
    width: fit-content;
    margin-inline: auto;
}

/* polyfill for old browser versions */
.container hgroup h2 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 1.618em;
}

/* polyfill end */


.services {
    gap: 20px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1.2em;
    text-align: center;

    & .icon {
        width: 60px;
        aspect-ratio: 1;
        font-size: 2em;
        background-color: var(--baalu-black-shade);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & h3 {
        margin: 20px 5px 10px;
    }
}

/* polyfill for old browser versions */
.service .icon {
    width: 60px;
    aspect-ratio: 1;
    font-size: 2em;
    background-color: var(--baalu-black-shade);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service h3 {
    margin: 20px 5px 10px;
}

/* polyfill end */

.why-baalu-container {
    width: 75%;
    margin-inline: auto;
    margin-block: 10%;
    height: 60svh;
    gap: 20px;
    border-radius: 8px;

    & img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0 8px 8px 0;
    }
}

.why-baalu-container .why-text-container {

    & h2 {
        margin-block: 5px 1em;
    }

    & .why-answer {
        margin-bottom: 15px;
    }

    & .why-answer h3 {
        margin-bottom: 4px;
    }
}

/* polyfill for old browser versions */
.why-baalu-container img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0 8px 8px 0;
}

.why-baalu-container .why-text-container h2 {
    margin-block: 5px 1em;
}

.why-baalu-container .why-text-container .why-answer {
    margin-bottom: 15px;
}

.why-baalu-container .why-text-container .why-answer h3 {
    margin-bottom: 4px;
}

/* polyfill end */

.about-baalu-container section {
    gap: 20px;
    padding-right: 20px;
    margin-block: 20px;

    & img {
        width: 45%;
        height: 60svh;
        object-fit: cover;
        object-position: center;
    }

    & article h2 {
        margin-bottom: 1.2em;
    }

    & article p {
        margin-bottom: 1em;
    }
}

.get-quote-container form {
    padding-inline: 30px;

    & .row {
        display: flex;
        gap: 20px;
        margin-bottom: calc(16px + 10px);
    }

    & .row .field {
        width: 100%;
    }

    & .row .field label {
        display: block;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 0.75em;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 20px;
    }

    & .row .field :is(input:not([type="radio"]), textarea) {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid var(--field-outline-color);
    }

    & .field .radio-btn-group label {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
    }

    & .btn {}
}

/* polyfill for old browser versions */
.get-quote-container form .row {
    display: flex;
    gap: 20px;
    margin-bottom: calc(16px + 10px);
}

.get-quote-container form .row .field {
    width: 100%;
}

.get-quote-container form .row .field label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
}

.get-quote-container form .row .field input:not([type="radio"]),
.get-quote-container form .row .field textarea {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--field-outline-color);
}

.get-quote-container form .field .radio-btn-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

/* polyfill end */


